body {
  font-family: sans-serif;
}

#page-title {
    margin-top: 20%;
    text-align: center;
}

#submit-button {
    width: 100%;
}

.form-error {
    color: red;
    font-size: 10px;
    line-height: 0;
    position: relative;
    top: -25px;
}
