body {
  font-family: sans-serif;
}

#page-title {
    margin-top: 20%;
    text-align: center;
}

#submit-button {
    width: 100%;
}

.form-error {
    color: red;
    font-size: 10px;
    line-height: 0;
    display: inline;
    margin-top: 5px;
    margin-left: 10px;
}

.form-group {
    margin-bottom: 3px;
}

.control-label{
    font-size: 1.5rem;
    font-weight: 300;
}

.index-form-row{
    margin-bottom: 20px;
}

.index-form-select{
    height: 5rem !important;
    font-size: 18px;
}

.website-interaction-message{
    position: absolute;
    text-align: center;
    top: 10px;
    left: 15px;
    right: 15px;
    box-shadow: 0 0 30px #005DAE
  }

