.section{
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    box-shadow: 0 1px #EBEBEB;
    border-radius: 5px;
    border: 1px solid;
    border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}

.section-title{
    text-align:center;
}

.section-incomplete{
    background: #ffe8e8;
}
.section-complete{
    background: #e8ffe8;
}
